body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*header*/
.header-content {
  border-bottom: 1px solid #e7e9fc;
}

/*navigation*/

.navigation-item {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.web-link {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;

  margin-right: 76px;
}

.studio-link {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.list-link {
  display: flex;
  gap: 40px;
}

.studio {
  padding: 24px 0;
}

.link {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

/*adress menu*/

.contacts-menu {
  font-style: normal;
  display: flex;
}

.contacts {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}
.contacts-item {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/*main-section-one*/

.solutions {
  background: #2e2f42;
  height: 600px;
  display: flex;
  padding: 188px 0;
}

.section-one-container {
}
.solutions-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;

  max-width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;
  border: none;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;

  /*button text*/

  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*main-section-two*/
.directions {
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.directions-items {
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.directions-items-container {
  width: calc((100%-72px) / 4);
}

.section-two-headers {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;

  width: 264px;
  margin-bottom: 8px;
}

.section-two-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;

  width: 264px;
  margin-top: 8px;
}

/*main-section-three*/

.our-team {
  background: #f4f4fd;
  height: 732px;
  flex-shrink: 0;
}

.team-card {
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.card-conteiner {
  background: #fff;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.stars-information {
  padding: 32px 0;
}

.stars-name {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;

  text-align: center;
  margin-bottom: 8px;
}

.stars-position {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
}

/*main-section-fourth*/

.portfolio-conteiner {
  background: #fff;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.project-card-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.card-information {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-name {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
}

.project-direction {
  color: #434455;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/*footer*/

.footer-conteiner {
  background: #2e2f42;
  height: 312px;
  padding: 100px 0;
}

.footer-box {
  padding-top: 101.44px;
}
.footer-web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;

  margin-bottom: 16px;
  display: inline-block;
}

.footer-studio {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-information {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;

  width: 264px;
}
